@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html{
  background-color: #F8EBD8;
  font-family: 'Playfair Display';
}

a{
  color: green;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}